#foodChainRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}

#foodChainControllers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(20% - 3vw);
    gap: 1vh;
    margin: 0 0 1vh 0.5vw;
    height: 38vh;
    background-color: var(--gray);
    border-radius: 20px;
    overflow: hidden;
    padding: 1vh 0.5vw 1vh 0.5vw;
}

#filters {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

#filters label {
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0.7rem;
}

#filters input {
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.3rem;
}

#displayFoodChains {
    height: 10vh;
    width: calc(100% - 1vw);
    background-color: rgba(128, 128, 128, 0.132);
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid #8b8b8b;
    border-radius: 20px;
}

#foodChainContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    transform: scale(-1, -1);
    display: inline;
    width: 80%;
    height: 40vh;
    max-width: calc(98.5vw + 2px);
    max-height: calc(98vh + 2px);
    background-color: var(--green);
    border-radius: 20px 20px 0px 20px;
    overflow: hidden;
    margin: 0 calc(1vw - 2px) 1vh 0;
    visibility: hidden;
    resize: both;
    z-index: 10;
}

#foodChainDisplay {
    transform: scale(-1, -1);
    display: flex;
    flex-direction: column;
    width: calc(100%-1vmin);
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    border-radius: 20px;
    padding-left: 1vmin;
}

#foodChainDisplay > p {
    font-size: 2rem;
    flex-grow: 0;
    flex-shrink: 0;
    text-wrap: nowrap;
}