body {
  padding: 0;
  margin: 0;
  background-color: #C3FBF4;
}

#organismRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#organismButtons {
  display: flex;
  flex-direction: column;
  margin: 1vh 1vw 0 1vw;
}

#ecosystem {
  display: flex;
  justify-content: left;
  gap: 2.5vw;
  width: min-content;
  min-width: 80%;
  padding: 1vh 1vw 1vh 1vw;
  overflow-x: auto;
  margin-right: auto;
}

#ecosystem > * {
  width: 20vw; 
  flex-grow: 0;
  flex-shrink: 0;
  max-height: max-content;
  border: 3px solid rgb(76, 90, 69);
  border-radius: 20px;
}

.organBox {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: rgb(205, 247, 183);
  max-height: 45vh;
  min-height: 27vh;
}

.organism {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 1rem 1.5rem 1rem 1.5rem;
  max-height: 45vh;
}

.organism > * {
  position: relative;
  overflow: hidden;
  margin-top: 5px;
  border-radius: 10px;
  border: 2px solid rgb(76, 90, 69);
}

.organism *:focus {
  outline: none;
}

.nameBox {
  position: relative;
  display: flex;
  min-height: fit-content;
}

.nameBox:focus-within {
  border: 2px solid black;
}

.name {
  max-width: 100%;
  border: none;
}

.name::placeholder {
  font-size: 1rem;
  font-style: italic;
  opacity: 1;
}

.removeOrganism {
  display: none;
}

.nameBox:hover .removeOrganism,
.nameBox:focus-within .removeOrganism {
  display: inline;
  position: absolute;
  top: 10%;
  left: 86%;
  width: 30px;
  height: 30px;
  background-color: rgba(128, 128, 128, 0.132);
  border: 2px solid #8b8b8b;
  border-radius: 50%;
  cursor: pointer;
}

.nameBox:hover .removeOrganism::before,
.nameBox:focus-within .removeOrganism::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #8b8b8b;
  height: 4.5px;
  top: 11px;
  left: 2px;
  right: 2.5px;
  z-index: 9;
  border-radius: 15px;
}

.foodItem {
  min-height: fit-content;
}

.foodItem input {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  height: 100%;
  border: none;
}

.foodItem input::placeholder {
  font-size: 1rem;
  font-style: italic;
  opacity: 1;
}

.foodItem button {
  display: none;
}

.foodItem:focus-within {
  border: 2px solid black;
}

.foodItem:hover button,
.foodItem:focus-within button {
  display: inline;
  position: absolute;
  top: 10%;
  left: 91%;
  width: 20px;
  height: 20px;
  background-color: rgba(128, 128, 128, 0.132);
  border: 2px solid #8b8b8b;
  border-radius: 50%;
  cursor: pointer;
}

.foodItem:hover button::before,
.foodItem:focus-within button::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #8b8b8b;
  height: 3px;
  top: 7.15px;
  left: 1.5px;
  right: 2px;
  z-index: 9;
  border-radius: 15px;
}

.organism .name {
  height: 4rem;
  min-height: 4rem;
  font-size: 2rem;
  text-align: center;
}

.addFood {
  cursor: pointer;
  margin: 0 1rem 0.6rem 1rem;
  border-radius: 10px;
  border: 2px solid rgb(76, 90, 69);
}

.plusFood {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: rgba(128, 128, 128, 0.132);
  border: 2px solid #8b8b8b;
  border-radius: 50%;
  margin: auto;
}

.plusFood::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #8b8b8b;
  height: 6px;
  margin-top: -1px;
  top: 18px;
  left: 4px;
  right: 4px;
  z-index: 9;
  border-radius: 15px;
}

.plusFood::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #8b8b8b;
  width: 6px;
  margin-left: -1px;  
  left: 18px;
  top: 3.2px;
  bottom: 3.2px;
  z-index: 9;
  border-radius: 15px;
}

#addOrganism {
  display: flex;
  flex-direction: column;
  height: 23vh;
  width: 15vw;
  cursor: pointer;
  padding: 1vh 0 0 0;
  border: 3px solid rgb(76, 90, 69);
  border-radius: 20px;
}

#addOrganism label {
  font-weight: bold;
  font-size: 1.5rem;
}

#plusOrganism {
  --add-icon-size: 12vmin;
  --plus-icon-size: calc(var(--add-icon-size)/10);
  position: relative;
  width: var(--add-icon-size);
  height: var(--add-icon-size);
  background-color: rgba(128, 128, 128, 0.132);
  border: 3px solid #8b8b8b;
  border-radius: 50%;
  margin: 1vh auto auto auto;
}

#plusOrganism::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #8b8b8b;
  height: var(--plus-icon-size);
  margin-top: -3px;
  top: 50%;
  left: 8%;
  right: 8%;
  z-index: 9;
  border-radius: 12px;
}

#plusOrganism::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #8b8b8b;
  width: var(--plus-icon-size);
  margin-left: -3px;  
  left: 50%;
  top: 8%;
  bottom: 8%;
  z-index: 9;
  border-radius: 12px;
}

#submit {
  height: 5vh;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  border: 3px solid rgb(76, 90, 69);
  border-radius: 20px;
  margin-top: auto;
}